<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorCodeConverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>907C60D21DF10BCB00528949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>907C60EE1DF10BCB00528949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>907C60F91DF10BCB00528949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
